body
{
	width: 100%;
	margin: 0;
	padding: 0;
}

header
{
	height: 100px;
	width: 100%;
	background: #ECF0F1;
	border-bottom: solid black 1px;
}

footer
{
	height: 100px;
	margin: 0 auto;
	background: #ECF0F1;
	border-top: solid black 1px;
	width: 100%;
}

#credit
{
	text-align: center;
	color: grey;
	padding-top: 40px;
}

#connexion
{
	/*padding-right: 50px;*/
}

.right
{
    margin-top: 15px;
    padding-right: 50px;
    position: absolute;
    right: 0;
    display: inline-block;
	line-height: 40px;
	text-align: center;
}

#mycart a
{
    border: black 2px solid;
    padding: 5px;
    text-decoration: none;
    color: white;
    background-color: dimgray;
}

#mycart span
{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: red;
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

#nom_du_site
{
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
	padding-top:40px;
	width: 300px;
	display: inline-block;
	color: black;
}

.form
{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.product
{
	display: inline-block;
	text-align: center;
	border: 1px black solid;
	width: 200px;
	height: 400px;
}

.product img
{
	margin-left: 25px;
	display: block;
	width: 150px;
	height: 300px;
}

.product input
{
    border: black 2px solid;
    padding: 5px;
    text-decoration: none;
    color: white;
    background-color: dimgray;
    line-height: 17px;
    cursor: pointer;
}

#category {
    display: inline-block;
    position: absolute;
    overflow: auto;
	max-height: calc(100vh - 202px);
    margin-left: 10px;
}

#navbar
{
	display: inline-block;
	height: 100%;
	min-height: calc(100vh - 202px);
	width: 200px;
	background-color: #ECF0F1;
	border-right: solid black 1px;
}

#navbar a
{
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: #205520;
	font-family: verdana;
	font-size: 16px;
}

.tab
{
	height: 70px;
	text-align: right;
	line-height: 70px;
    overflow: hidden;
}


.tab:hover
{
	background-color: #99a9c0;
}

#navbar a:hover
{
	color: #002000;
}

.tab div
{
	margin-right: 30px;
}

.titre
{
	text-align: center;
}

#cart
{
	display: inline-block;
	position: absolute;
	overflow: auto;
	max-height: calc(100vh - 202px);
	text-align: center;
	width: calc(100% - 201px);
	padding-top: 50px;
}

#home
{
	display: inline-block;
	position: absolute;
	overflow: auto;
	max-height: calc(100vh - 202px);
	text-align: center;
	width: calc(100% - 201px);
	padding-top: 50px;

}

#home a
{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#compte
{
	display: inline-block;
	position: absolute;
	overflow: auto;
	max-height: calc(100vh - 202px);
	text-align: center;
	width: calc(100% - 201px);
	padding-top: 50px;

}