body
{
	width: 100%;
	margin: 0;
	padding: 0;
}

header
{
	height: 100px;
	width: 100%;
	background: #ECF0F1;
	border-bottom: solid black 1px;
}

footer
{
	height: 100px;
	margin: 0 auto;
	background: #ECF0F1;
	border-top: solid black 1px;
	width: 100%;
}

#credit
{
	text-align: center;
	color: grey;
	padding-top: 40px;
}

#connexion
{
	float:right;
	padding-right: 50px;
}

#nom_du_site
{
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
	padding-top:40px;
	width: 300px;
}

.form
{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.product
{
	display: inline-block;
	text-align: center;
	border: 1px black solid;
	width: 200px;
	height: 400px;
}

.product img
{
	margin-left: 25px;
	display: block;
	width: 150px;
	height: 300px;
}

#category {
    display: inline-block;
    position: absolute;
    overflow: auto;
	max-height: calc(100vh - 202px);
    margin-left: 10px;
}

#navbar
{
	display: inline-block;
	height: 100%;
	min-height: calc(100vh - 202px);
	width: 200px;
	background-color: #ECF0F1;
	border-right: solid black 1px;
}

#navbar a
{
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: #205520;
	font-family: verdana;
	font-size: 16px;
}

.tab
{
	height: 70px;
	text-align: right;
	line-height: 70px;
}


.tab:hover
{
	background-color: #99a9c0;
}

#navbar a:hover
{
	color: #002000;
}

.tab div
{
	margin-right: 30px;
}


